/.metadata/
TechShopMVC/.classpath
TechShopMVC/.settings/org.eclipse.wst.common.project.facet.core.xml
TechShopMVC/.classpath
TechShopMVC/.settings/org.eclipse.wst.common.project.facet.core.xml
TechShopMVC/.classpath
TechShopMVC/.settings/org.eclipse.wst.common.project.facet.core.xml
TechShopMVC/.classpath
TechShopMVC/.settings/org.eclipse.wst.common.project.facet.core.xml
TechShopMVC/.classpath
TechShopMVC/.classpath
TechShopMVC/.classpath
TechShopMVC/.classpath
