<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaeehttp://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Techila</display-name>
<!-- 	<WELCOME-FILE-LIST> -->
<!-- 		<WELCOME-FILE>HOME</WELCOME-FILE> -->
<!-- 	</WELCOME-FILE-LIST>	 -->
	<servlet>
	    <servlet-name>IndexServlet</servlet-name>
	    <servlet-path>com.controller.IndexServlet</servlet-path>
	</servlet>	
	<servlet>
	    <servlet-name>CartServlet</servlet-name>
	    <servlet-path>com.controller.CartServlet</servlet-path>
	</servlet>
	<servlet>
	    <servlet-name>LoginServlet</servlet-name>
	    <servlet-path>com.controller.LoginServlet</servlet-path>
	</servlet>
	<servlet>
	    <servlet-name>LogoutServlet</servlet-name>
	    <servlet-path>com.controller.LogoutServlet</servlet-path>
	</servlet>		
	<servlet>
	    <servlet-name>ProductlServlet</servlet-name>
	    <servlet-path>com.controller.ProductlServlet</servlet-path>
	</servlet>
	<servlet>
	    <servlet-name>CheckOutServlet</servlet-name>
	    <servlet-path>com.controller.CheckOutServlet</servlet-path>
	</servlet>									
	<session-timeout>30</session-timeout>
</web-app>