<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaeehttp://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Techila</display-name>
	<welcome-file-list>
		<welcome-file>Home</welcome-file>
	</welcome-file-list>							
	<servlet>
	    <servlet-name>IndexServlet</servlet-name>
	    <servlet-class>controller.IndexServlet</servlet-class>
	</servlet>	
	<servlet>
	    <servlet-name>CartServlet</servlet-name>
	    <servlet-class>controller.CartServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>LoginServlet</servlet-name>
	    <servlet-class>controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>LogoutServlet</servlet-name>
	    <servlet-class>controller.LogoutServlet</servlet-class>
	</servlet>		
	<servlet>
	    <servlet-name>ProductlServlet</servlet-name>
	    <servlet-class>controller.ProductlServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>CheckOutServlet</servlet-name>
	    <servlet-class>controller.CheckOutServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>PaymentServlet</servlet-name>
	    <servlet-class>controller.PaymentServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>IndexServlet</servlet-name>
	    <url-pattern>/Home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>LoginServlet</servlet-name>
	    <url-pattern>/Auth</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
	    <servlet-name>ProductlServlet</servlet-name>
	    <url-pattern>/Product</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>CheckOutServlet</servlet-name>
	    <url-pattern>/Checkout</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
	    <servlet-name>PaymentServlet</servlet-name>
	    <url-pattern>/Payment</url-pattern>
	</servlet-mapping>		
	<servlet-mapping>
	    <servlet-name>CartServlet</servlet-name>
	    <url-pattern>/Cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>LogoutServlet</servlet-name>
	    <url-pattern>/Logout</url-pattern>
	</servlet-mapping>
</web-app>